{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <p id="tagline">What would you pick ?</p>
</div>
<div class="row">
    <p id="countdown">00:00</p>
</div>
<div class="row justify-content-evenly">
    <div id="itemA"></div>
    <div id="itemB"></div>
</div>
<div id="loaddata" hx-get="{% url 'votedata' %}" hx-trigger="newmatch"></div>

<script>
    let updated = 0;
    function everySecond(){
        let now = Math.floor(Date.now()/1000); // now in seconds
        let match = Math.floor(now/240); // match pseudo-id
        let timer = 240-(now%240); // time before next match
        if(match > updated){ // if it's time for a new match, we load expected match data
            updated = match;
            htmx.trigger("#loaddata", "newmatch", {});
        }
        let minutes = Math.floor(timer/60);
        let seconds = timer%60;
        document.getElementById("countdown").innerHTML =
            String(minutes).padStart(2, '0') + ":" +
            String(seconds).padStart(2, '0');
    }
    let x = setInterval(everySecond, 1000);
    setTimeout(everySecond, 0);
</script>

{% endblock %}