body {
    background-color: #603829;
    font-family: Upheaval;
    color: #e6e6e6;
}

.fulltitle {
    color: #a0a0a0;
    font-size: 1.2em;
}   

.fti {
    color: white;
    font-size: 1.6em;
    text-shadow: 0px 0px 2px #9fa505;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f8ad44
}

.link {
    font-size: 2.4em;
    color: #f8ad44;
    text-decoration: none;
    text-shadow: 5px 5px 2px black;
}

.linkhere {
    color: red;
}

#tagline {
    font-size: 1.5em;
    color: #80b0b0;
    text-shadow: 2px 2px 2px black;
}

#countdown {
    font-size: 3em;
    text-shadow: 4px 4px 5px black;
}

.itemName {
    font-size: 2em;
}

.matchScore {
    font-size: 1.5em;
}

.item {
    /*box-sizing: content-box;*/
    border: 30px solid;
    background-clip: content-box;
    border-image: url("https://static.wikia.nocookie.net/bindingofisaacre_gamepedia/images/4/4a/CSS_Border_Infobox.png") 30 fill round;
    color: #473a3c;
    image-rendering: pixelated;
}

.item.novoteyet:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.item.novoteyet:active {
    transform: scale(0.9);
}

.item.votedthis {
    transform: scale(1.1);
}

.item:not(.novoteyet):not(.votedthis) {
    opacity: 0.5;
    transform: scale(0.8);
}

.itemNameList {
    font-size: 1.2em;
}

.rating {
    font-size: 1.4em;
    color: #80b0b0;
}

.character {
    image-rendering: pixelated;
}

.goal {
    image-rendering: pixelated;
}

.character:hover, .goal:hover {
    transform: scale(1.1);
}

.selected {
    outline: solid red;
}

.scoresheader {
    font-family: sans-serif;
    font-weight: 900;
    background-color: #101010;
}

.colscores {
    font-family: sans-serif;
    background-color: #202020;
    outline: solid 1px #101010;
}

.alive {
    color: green;
}

.dead {
    color: red;
}